<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            2021, made with love by
            <a href="" target="_blank">mmoa</a> for a better web.
        </div>
    </div>
</footer>